@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500,600,700,900');

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    background-color: #111110;
    color: #ffffff;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
}

div {
    font-weight: 100;
    /* transform: scale(0.2); */
}